/* Reset default browser styles */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

.stats_header {
  margin-top: 25px;
  margin-bottom: 5px;
  padding-left: 5%;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8; /* Light grey background */
}

header {
  background-color: #e54d42; /* Red background color */
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #ff6b5e; /* Light red background color */
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  display: inline;
  margin-right: 20px; /* Increased spacing between nav items */
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #e54d42; /* Red color on hover */
}

main {
  padding: 20px;
}

footer {
  background-color: #e54d42; /* Red background color */
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.main_picture {
  text-align: center;
  margin-bottom: 20px;
}

.main_picture img {
  max-width: 100%;
  height: auto;
}

.profile {
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
  padding-left: 1%;
  padding-right: 1%;
}

#players {
  text-align: center;

}

.profile img {
  width: 200px;
  height: 200px;
}

a {
  text-decoration: none ;
}

.profile p {
  margin: 10px 0;
  font-size: 18px;
  color: black;
}

.table_stats {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

th {
  font-weight: bold;
  padding: 10px;
  text-align: center;
  background-color: #e54d42; /* Red background color */
  color: #ffffff;
}

td, th {
  border: 1px solid #ccc;
  padding: 10px;
  white-space: normal;
  text-align: center;
}

.stats td, th {
  width: 33%;
}

#dataTable td, th {
  width: auto;
}

.player_content {
  text-align: center;
  margin-top: 20px;
}

.player_image {
  margin-top: 20px;
}

.player_name {
  margin: 10px
}

.inline {
  margin: 5px;
}


/* Responsive design */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  .profile {
    margin-right: 20px; /* Increased spacing between team members */
  }
}

