/* Reset default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Basic styling */
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    background-color: #666;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  nav ul li a:hover {
    color: black }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .main_picture {
    text-align: center;
    margin-bottom: 20px;
  }
  .main_picture img {
    max-width: 100%;
    height: auto;

  }

  .profile {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 5px;
  }

  .profile img {
    width: 150px;
    height: auto;
  }

  .profile p {
    margin: 5px 0 0 0;
    text-decoration: none !important;
    color: black !important;
  }

  a {
    text-decoration: none ;
  }


  th { 
    font-weight: bold;
    padding: 10px;
    text-align: center;
  }
  td,th {
    border: 1px solid black;
    padding: 10px;
    white-space: normal;
    text-align: center;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

#tableContainer {
  margin: 20px;
  flex: 1
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set the body to at least the height of the viewport */
    margin: 0;
}


footer {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;

}

.player_image {
  max-width: 200px;
  max-height: 200px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.player_content {

  text-align: center; 
}

.player_name{
  margin-bottom: 5px;
}

.inline{
  margin-top: 5px;
}

.rank_column{
  width: 10px;
}

.goals_column{
  width: 10px;
}

.name_column{
  width: 100px;
}
